<a href="#" class="text-xl font-bold">
    <h1>Szyfotomon</h1>
</a>
<nav class="w-full flex items-center justify-center mt-4 md:mt-0 space-x-2">
    <a class="block md:inline-block px-4 py-2 {% if active == 'portfolio' %}underline{% endif %} hover:text-amber-400" href="{{ path('app_main') }}">
        Portfolio
    </a>
    <a class="block md:inline-block px-4 py-2 {% if active == 'about' %}underline{% endif %} hover:text-amber-400" href="#">
        About me
    </a>
    <a class="block md:inline-block px-4 py-2 {% if active == 'contact' %}underline{% endif %} hover:text-amber-400" href="#">
        Contact
    </a>
</nav>