{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% set active = 'portfolio' %}

{% block stylesheets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div class="container mx-auto p-6 min-h-screen">
        <div class="text-center mb-6">
            <h1 class="text-4xl mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit</h1>
            <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
        </div>
        <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for photo in photos %}
                <div class="w-full">
                    <a href="{{ asset('images/' ~ photo.fileName) }}" data-lightbox="gallery">
                        <img src="{{ asset('images/' ~ photo.fileName) }}" alt="{{ photo.fileName }} load error" class="w-full h-full rounded-lg">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
