@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: skyblue;
}

.active-link {
    position: relative;
    text-decoration: none;
    color: #D1D5DB;
}

.active-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: #D1D5DB;
    transition: all 150ms ease;
    transform: scaleX(0);
    transform-origin: bottom left;
}

.active-link:hover::after,
.active-link.active::after {
    transform: scaleX(1);
}

/* gallery.css */
#image-popup {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 100;
    visibility: hidden;
}

#popup-image {
    max-width: 90%;
    max-height: 80vh;
}

.photo-thumbnail {
    transition: transform 0.2s ease-in-out;
}

.photo-thumbnail:hover {
    transform: scale(1.05);
}

