{# base.html.twig #}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Website{% endblock %}</title>
    <!-- Include Tailwind CSS styles -->
    <link href="{{ asset('build/app.css') }}" rel="stylesheet">
</head>
<body class="bg-gray-100">
{% include 'navbar.html.twig' %}

<div class="container mx-auto px-4">
    {% block body %}{% endblock %}
</div>

{% include 'footer.html.twig' %}

<!-- Include Tailwind CSS script (if needed) -->
<script src="{{ asset('build/app.js') }}"></script>
</body>
</html>
